// Tablet Screen

@media screen and (min-width: 650px) {
  .choice {
    width: 70%;
    position: relative;
    left: 15%;
  }

  .restaurants__cards {
    width: 60%;
    gap: 4rem;
    margin: auto;
  }

  .menu h3 {
    padding-left: 20%;
  }

  .menu__sector {
    padding-left: 20%;
  }

  .menu-part {
    width: 70%;
  }
}

// Desktop Screen

@media screen and (min-width: 1200px) {
  .choice {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: inherit;
    gap: 2rem;
  }

  .restaurants__title {
    padding-left: 15%;
  }

  .restaurants__cards {
    width: 70%;
    margin: auto;
  }

  .menu h3 {
    padding-left: 10%;
  }

  .menu__sector {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    width: 90%;
    padding-left: 10%;
  }
}
